{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h2 class="mb-0">Activities for {{ object.first_name }} {{ object.last_name }}</h2>
                {% if slug == object.slug %}
                    <p><a class="btn btn-primary py-3 w-100 mb-4" href="{% url 'edit profile' object.slug %}">Edit
                        profile</a></p>
{#                    <p><a class="btn btn-primary py-3 w-100 mb-4" href="{% url 'delete profile' object.slug %}">Delete#}
{#                        profile</a></p>#}
                {% endif %}
                {% if update_permission and slug != object.slug %}

                    <p><a class="btn btn-primary py-3 w-100 mb-4" href="{% url 'user-edit' object.slug %}">Edit
                        profile</a></p>
                    <p><a class="btn btn-primary py-3 w-100 mb-4" href="{% url 'user-delete' object.slug %}">Delete
                        profile</a></p>
                    <p><a class="btn btn-primary py-3 w-100 mb-4" href="{% url 'assign_role' object.slug %}">
                        Assign Role</a></p>
                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                    <tr class="text-white">
                        <th scope="col">Login Time</th>
                        <th scope="col">Logout Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activity %}
                        <tr>
                            <td>{{ activity.login_time|date:"d-m-y H:i:s" }}</td>
                            <td>{{ activity.logout_time|date:"d-m-y H:i:s" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No activities found for this user.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}