{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                    <div class="col-md-6 text-center p-4">
                        <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                        <h1 class="display-1 fw-bold">403</h1>
                        <h1 class="mb-4">Permission Denied</h1>
                        <p class="mb-4">You do not have permission to access this page. Admin or Observer privileges are required.</p>
{#                         <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'logout-redirect' %}">Login as Admin or Observer</a>#}
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'home' %}">Go Back To Home</a>
                    </div>
                </div>
            </div>
{% endblock %}